@{
    ViewBag.Title = "Veiculo Protegido";
}

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title">Veiculo <small><small>Protegido</small></small></h1>
    </main>
</div>