@model VeiculoProtegido.Application.ViewModels.TipoFIPEViewModel
@*<div class="form-group">*@
    <select id="cboTipoFIPE"
            data-placeholder="Selecionar Tipo"
            class="select2 form-control"
            name="TipoFIPE">
        <option value=""></option>
        @foreach (var item in Model.TipoFIPEViewModels)
        {
            if (item.Id.Equals(Model.Id))
            {
                <option value="@item.Id" selected>@item.Descricao</option>
            }
            else
            {
                <option value="@item.Id">@item.Descricao</option>
            }
        }
    </select>
@*</div>*@
