@model VeiculoProtegido.Application.ViewModels.TabelaPrecoFaixaTabelaPrecoViewModel

@{
    ViewBag.Title = "Create";
}
@*@using (Html.BeginForm("Create", "TabelasPreco", FormMethod.Post, new { enctype = "multipart/form-data" }))
{*@
    @Html.AntiForgeryToken()
    <div class="content-wrap">
        <main id="content" class="content" role="main">
            <h1 class="page-title">Cadastro - <span class="fw-semi-bold">Tabelas de Preço</span></h1>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <section class="widget">
                        <header>
                            <legend><strong>Dados</strong> Tabela</legend>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-body">
                            <form role="form">
                                <fieldset>
                                    <div class="row">
                                        @*<div class="col-lg-8 col-sm-8">*@
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Descricao)
                                                @*<div class="input-group col-sm-8">*@
                                                    @Html.EditorFor(Model => Model.Descricao, new { @class = "select2 form-control" })
                                                @*</div>*@
                                            </div>
                                        @*</div>*@
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>

@*}*@

        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin-fast"></i>
        </div>

        @*@Scripts.Render("~/app")
        @Scripts.Render("~/cadastro")*@
