@model IEnumerable<VeiculoProtegido.Application.ViewModels.MarcaViewModel>
@{
    ViewBag.Title = "Carro";
}

<div class="content-wrap">
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Consulta</li>
        </ol>
        <h1 class="page-title"><span class="fw-semi-bold">Carros e Utilitários Pequenos</span></h1>
        <div class="row">
            <div class="col-lg-4 col-md-8">
                <section class="widget">
                    <header>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <form role="form">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label" for="MarcaSelect">Selecione a Marca do Veiculo</label>
                                            <select id="cboMarca"
                                                    data-placeholder="Selecionar Veiculo"
                                                    class="select2 form-control"
                                                    tabindex="-1"
                                                    name="Marca">
                                                <option value=""></option>
                                                @foreach (var marca in Model)
                                                {
                                                    <option value="@marca.codigo">@marca.nome</option>}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label" for="ModeloSelect">Selecione o Modelo do Veiculo</label>
                                            <select id="cboModelo"
                                                    data-placeholder="Selecionar Modelo"
                                                    class="select2 form-control"
                                                    tabindex="-1"
                                                    name="Marca">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label" for="AnoSelect">Selecione o Ano e Combustivel do Veiculo</label>
                                            <select id="cboAno"
                                                    data-placeholder="Selecionar Ano/Combustivel"
                                                    class="select2 form-control"
                                                    tabindex="-1"
                                                    name="Ano">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-offset-4 col-sm-7">
                                        <button id="btnConsultar" type="button" class="btn btn-primary">Consultar</button>
                                        <button id="btnCancelar" type="button" class="btn btn-inverse">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <section class="widget">
                    <header>
                        <h4>
                            <span class="fw-semi-bold">Veiculo</span>
                        </h4>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <form role="form">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label id="lblMarca" class="col-sm-4 control-label" for="disabled-input">Marca</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="txtMarca" class="form-control"
                                                       disabled="disabled" value="Default value">
                                            </div>
                                            <div class="form-group">
                                                <label id="lblModelo" class="col-sm-4 control-label" for="disabled-input">Modelo</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="txtModelo" class="form-control"
                                                           disabled="disabled" value="Default value">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label id="lblAno" class="col-sm-4 control-label" for="disabled-input">Ano</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="txtAno" class="form-control"
                                                           disabled="disabled" value="Default value">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label id="lblCombustivel" class="col-sm-4 control-label" for="disabled-input">Combustivel</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="txtCombustivel" class="form-control"
                                                           disabled="disabled" value="Default value">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label id="lblCodigoFipe" class="col-sm-4 control-label" for="disabled-input">Código FIPE</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="txtCodigoFipe" class="form-control"
                                                           disabled="disabled" value="Default value">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label id="lblValor" class="col-sm-4 control-label" for="disabled-input">Valor</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="txtValor" class="form-control"
                                                           disabled="disabled" value="Default value">
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                </section>
            </div>
        </div>

    </main>
</div>

<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common app js -->
<script src="~/js/settings.js"></script>
<script src="~/js/app.js"></script>

<!-- common libraries. required for every page-->
<script src="~/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/vendor/jquery-pjax/jquery.pjax.js"></script>
<script src="~/vendor/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="~/vendor/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="~/vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="~/vendor/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="~/vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="~/vendor/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/vendor/widgster/widgster.js"></script>
<script src="~/vendor/pace.js/pace.js" data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script>
<script src="~/vendor/jquery-touchswipe/jquery.touchSwipe.js"></script>

<!-- page specific js -->
<script src="~/js/carro.js"></script>