@model IEnumerable<VeiculoProtegido.Application.ViewModels.MarcaViewModel>
@{
    ViewBag.Title = "Carro";
}

<div class="content-wrap">
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Consulta</li>
        </ol>
        <h1 class="page-title"><span class="fw-semi-bold">Carros e Utilitários Pequenos</span></h1>
        <div class="row">
            <div class="col-lg-5">
                <section class="widget">
                    <header>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <form role="form">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-9 control-label" for="MarcaSelect">Selecione a Marca do Veiculo</label>
                                            <select id="cboMarca"
                                                    data-placeholder="Selecionar Veiculo"
                                                    class="select2 form-control"
                                                    tabindex="-1"
                                                    name="Marca">
                                                <option value=""></option>
                                                @foreach (var marca in Model)
                                                {
                                                    <option value="@marca.codigo">@marca.nome</option>}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-9 control-label" for="ModeloSelect">Selecione o Modelo do Veiculo</label>
                                            <select id="cboModelo"
                                                    data-placeholder="Selecionar Modelo"
                                                    class="select2 form-control"
                                                    tabindex="-1"
                                                    name="Marca">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-10 control-label" for="AnoSelect">Selecione o Ano e Combustivel do Veiculo</label>
                                            <select id="cboAno"
                                                    data-placeholder="Selecionar Ano/Combustivel"
                                                    class="select2 form-control"
                                                    tabindex="-1"
                                                    name="Ano">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-offset-4 col-sm-7">
                                        <button id="btnConsultar" type="button" class="btn btn-primary">Consultar</button>
                                        <button id="btnConsultar" type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
<!-- page specific js -->
<script src="~/js/carro.js"></script>