@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrap">
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Consulta</li>
        </ol>
        <h1 class="page-title"><span class="fw-semi-bold">Carros e Utilitários Pequenos</span></h1>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <form class="form-horizontal form-label-left" role="form">
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="MarcaSelect">Selecione a Marca do Veiculo</label>
                                    <div class="col-md-8">
                                        <p>
                                            <div class="row">
                                                <label for="cboEstado" class="control-label">Estado</label>
                                                <select id="cboEstado" class="form-control">
                                                    <option value="SP">São Paulo</option>
                                                    <option value="RJ">Rio de Janeiro</option>s
                                                </select>
                                            </div>
                                        </p>
                                        <p>
                                            <div class="row">
                                                <label for="cboCidade" class="control-label">Cidade</label>
                                                <select id="cboCidade" class="form-control"></select>
                                                <br />
                                                <button type="button" id="btnValorCidade" class="btn btn-primary">Ver valor Cidade</button>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
<!-- page specific js -->
<script src="~/js/teste.js"></script>